html {
    height: 100%; 
    text-align: center;
}

body {
    height: 100%; 
    text-align: center;
}

canvas{
    max-width: 100%;
}

button {
    width: 160px;
    height: 40px;
    padding: 10px;
}